:root {
    --body_background: white;  
    --body_color: black;
    --link_color: black;
    --box_shadow: 4px 0 5px rgba(0, 0, 0, 0.4);
    --color: black;
    --cor-do-botao-ativo: #00BFFF;
    --cor-do-botao-padrao: #ebebeb;
    --cor_background_div: #feea98;
    --cor-do-botao-pressionado: #75787e;
    --cor-do-botao-alternativo: #bfc3c1;
  }

  [data-theme="dark"]{
    --body_background: #343434;
    --body_color: white;
    --link_color: white;
    --box_shadow: 4px 0 5px rgba(0, 0, 0, 0.4);
    --color: white;
    --cor-do-botao-ativo: #0000CD;
    --cor-do-botao-padrao: #75787e;
    --cor_background_div: #ceb930;
    --cor-do-botao-pressionado: #d0d0d0;
    --cor-do-botao-alternativo: white;
}

.css-10t9sww-MuiPaper-root{
    background-color: var(--body_background) !important;
}

.css-1azl6jz-MuiTableCell-root{
    color: var(--color) !important;
}

.css-1ygcj2i-MuiTableCell-root{
    color: var(--color) !important;
}

.css-b7co3x p{
    color: var(--color) !important;
}

.css-b7co3x path{
    color: var(--color) !important;
}