:root {
  --body_background: white;  
  --body_color: black;
  --link_color: black;
  --box_shadow: 4px 0 5px rgba(0, 0, 0, 0.4);
  --color: black;
  --border_color: black;
}

[data-theme="dark"]{
  --body_background: #343434;
  --body_color: white;
  --link_color: white;
  --box_shadow: 4px 0 5px rgba(0, 0, 0, 0.4);
  --color: white;
  --border_color: white;
}

.a-linha{
  color: var(--color) !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escurecido com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* z-index alto para ficar acima de outros elementos */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 90%; /* Largura máxima responsiva */
  width: 70%; /* 100% de largura em dispositivos pequenos */
  max-height: 90%; /* Altura máxima responsiva */
  overflow-y: auto; /* Rolagem vertical se o conteúdo for longo */
  text-align: center;
}

.positionButton {
  display: flex;
  justify-content: flex-end;
}

.tamImg {
  width: 19px;
  height: 19px;
}

.tamImg:hover {
  filter: brightness(0) invert(1);
}

.close-button {
  color: #ffffff;
  display: flex;

  border: none;
  cursor: pointer;
}
.css-1s3wj9k-MuiButtonBase-root-MuiFab-root{
  text-transform: none !important;
}
.close-button:hover {
  background-color: #aaaaaa;
}

.close-button:hover .tamImg {
  filter: brightness(0) invert(1);
}

.tabLenght{
  width: 40%;
}

.titleForm {
  font-size: 21px;
  font-weight: 600;
}

FormLabel {
  font-weight: 100;
}

textarea{
  width: 100%;
  height: 10vh;
  border: 1px,solid,#000;
}
