*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;
}
main{
  width:  100%;
  padding: 20px;
  background-color: #C0c0c0;
}
.sidebar{
  background-color:	#010326;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
  box-shadow: 8px 0 10px rgba(0, 0, 0, 0.2);
}
.top_section{
  display: flex;
  align-items: center ;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 70px;
  cursor: pointer;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background-color: #010326;
  color:#4C5D73;
  transition: all 0.5s;
}
.active{
  background-color:#4C5D73;
  color:#010326;
}
.icon, .link_text{
  font-size: 20px;
  
}