*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.container{
  display: flex;
}
main{
  background-color: var(--body_background);
  width: 100%;
  padding: 20px;
  position: relative;
  color: var(--color);
}
[data-theme="dark"] .sidebar{
  background-color: var(--body_background);
  color: var(--body_color);
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
  box-shadow: var(--box_shadow);
  z-index: 1; 
  position: relative;
}

.sidebar{
  background-color: var(--body_background);
  color: var(--body_color);
  height: 100%;
  min-height: 100vh;
  width: 250px;
  transition: all 0.5s;
  box-shadow: var(--box_shadow);
  z-index: 1; 
  position: relative;
}

.top_section{
  display: flex;
  align-items: center ;
  padding: 20px 15px;
}

.bars{
  display: flex;
  font-size: 25px;

}
.link{
  display: flex;
  color: var(--link_color);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

[data-theme="dark"] .link:hover{
  background-color: #fff;
  color: 		#75787e;
  transition: all 0.5s;
}
.link:hover{
  background-color: black;
  color: rgba(232, 222, 222, 0.916);
  transition: all 0.5s;
}
[data-theme="dark"] .active{
  background-color:#fff;
  color: black;
}

.active{
  background-color:black;
  color: #fff;
}
.icon, .link_text{
  font-size: 20px;
  
}
/* DarkTheme*/

.dark_mode {
  margin-top: -20px;
  margin-left: 10px;  
}

.dark_mode_label {
  width: 45px;
  height: 20px;
  position: relative;
  display: flex;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg,black,black);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 40px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, white, white);
}
.dark_mode_label:active:after {
  width: 20px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}



css-6od3lo-MuiChip-label{
  color: var(--color) !important;
}

.css-1jh9be9-MuiButtonBase-root-MuiChip-root{
  background-color: var(--cor-do-botao-ativo) !important;
}

.css-4rh8r4-MuiButtonBase-root-MuiChip-root{
  background-color: var(--cor-do-botao-ativo) !important;
}

.css-2hqgb0-MuiButtonBase-root-MuiChip-root{
  background-color: var(--cor-do-botao-padrao) !important;
}

.css-ybclxu-MuiButtonBase-root-MuiChip-root{
  background-color: var(--cor-do-botao-padrao) !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root{
  color: var(--color) !important;
  background-color: var(--cor-do-botao-padrao) !important;
}
.user-profile {
  position: absolute;
  bottom: 10px; /* Ajuste a distância do fundo conforme necessário */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  padding: 20px;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  color: var(--link_color);
  font-size: 20px;
}

.user-profile {
  transition: opacity 0.5s;
  opacity: 1;
}

.user-profile.closed {
  opacity: 0;
  pointer-events: none; /* Impede interação com elementos fechados */
}

.logout-button {
  position: absolute;
  bottom: -25px; /* Ajuste a distância do fundo conforme necessário */
  right: 18px; /* Ajuste a posição à esquerda conforme necessário */
  color: blue; /* Cor do texto azul */
 
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s; /* Adiciona transição suave à mudança de cor do texto */
}

.logout-button:hover {
  color: darkblue; /* Cor mais escura ao passar o mouse */
}



.logout-button:hover::after {
  color: darkblue; /* Cor mais escura ao passar o mouse */
}

.logout-icon {
  margin-right: 2px;
}

.debitos{
  color: var(--color) !important;
}

.subitemContainer{
  background-color: var(--body_background) !important;
}

.MiddleTaskChart{
  background-color: var(--body_background) !important;
  color: var(--color) !important;
}

.ItemContainer{
  background-color: var(--body_background) !important;
}

.taskProgress{
  color: var(--color) !important;
}

.css-1v32d53{
  background-color: var(--body_background) !important;
}

.css-1v32d53 p{
  color: var(--color) !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input{
  color: var(--color) !important;
}

.css-1mrv5kl.Title-title{
  color: var(--color) !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon{
  color: var(--color) !important;
}

.css-xhtqz8-MuiTableCell-root.TableCell-cellNoWrap{
  color: var(--color) !important;
}

.css-11awt6d .PageSizeSelector-label{
  color: var(--color) !important;
}

.css-1ar2bnf-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1ar2bnf-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1ar2bnf-MuiSelect-select-MuiInputBase-input-MuiInput-input{
  color: var(--color) !important;
}

.css-1jwhnuz .Pagination-rowsLabel{
  color: var(--color) !important;
}

.css-1jwgte0-MuiButtonBase-root-MuiButton-root.Pagination-text{
  color: var(--color) !important;
}

.css-k4qjio-MuiFormHelperText-root{
  color: var(--color) !important;
}

.titleFormUsuario{
  color: var(--color) !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root{
  color: var(--color) !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
  color: var(--cor-do-botao-ativo) !important;
}

.css-1jq32hf-MuiButtonBase-root-MuiTab-root{
  color: var(--color) !important;
}

.css-1jq32hf-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #1976d2 !important;
}

.css-fwx5jw-MuiButtonBase-root-MuiButton-root:hover{
  background-color: var(--cor-botão-hover) !important;
  color: var(--color-botão-hover) !important;
}

.css-fwx5jw-MuiButtonBase-root-MuiButton-root{
  background-color: var(--cor-do-botao-padrao) !important;
  color: var(--color) !important;
}

.mainHomeRightbar{
  background-color: var(--body_background) !important;
}

.titleForm{
  color: var(--color) !important;
}

.css-1pk0x2n{
  color: var(--color) !important;
}

.css-ahj2mt-MuiTypography-root{
  color: var(--color) !important;
}

.css-12tl3rr-MuiInputBase-input-MuiOutlinedInput-input{
  color: var(--color) !important;
}